@page
@model DysFin.Web.Pages.Kontrole.ChangeStatusModel

@{
    ViewData["Title"] = "Kontrola zewnętrzna - zmiana statusu";
}
<div class="page-buttons">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <!--<a class="page-back" href="#"><</a>-->
                <h2 class="page-subtitle">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 page-content">
            <div class="box-section">
                <h3 class="bs-header">Status</h3>
                <form method="post">
                    <div class="bs-content">
                        <div class="row">
                            <div class="col-md-8">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-row row">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="input-label">Status</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <select asp-for="NewStatusId" asp-items="ViewBag.StatusId" class="text-input input-xs"></select>
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-sm-4 col-md-4">
                                        <label class="input-label">Uwagi Biura Kontroli</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <textarea asp-for="UwagiKW" class="text-input"></textarea>
                                        <span asp-validation-for="UwagiKW" class="text-danger"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="KontrolaId" />
                            </div>
                        </div>
                        @await Component.InvokeAsync("KontrolaDetails", new { id = Model.KontrolaId })
                    </div>
                    <div class="bs-footer">
                        <div class="form-row">
                            <button class="btn btn-default pull-right" type="submit">Zmień</button>
                            <a asp-page="./Index" class="pull-right">Powrót do listy</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
