@page
@model LoginModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Zaloguj się";
}

<div class="col-admin-login-right col-md-8 col-sm-7">

    <div class="valign-table">
        <div class="valign-cell">
            <div class="box-section">
                <h2 class="bs-header" h2>Zaloguj się na swoje konto</h2>

                <form method="post">
                    <div class="bs-content">
                        <div class="form-section">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-row">
                                <label asp-for="Input.Login"></label><span class="label-required">*</span>
                                <!--<label asp-for="Input.Email" class="input-label"></label>-->
                                <input asp-for="Input.Login" class="text-input input-xs">
                                <span asp-validation-for="Input.Login" class="text-danger"></span>
                            </div>

                            <div class="form-row">
                                <label asp-for="Input.Password"></label><span class="label-required">*</span>
                                <!--<label asp-for="Input.Password" class="input-label"></label>-->
                                <input asp-for="Input.Password" class="text-input input-xs">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                        </div><!-- .form-section -->

                        <div class="form-section">
                            <button type="submit" class="btn pull-right">Zaloguj się</button>
                        </div><!-- .form-section -->
                    </div>
                </form>
            </div>
            <div class="al-copy-xs visible-xs">&copy; @DateTime.Now.Year Urząd m.st. Warszawy. Wszystkie prawa zastrzeżone.</div>
        </div>
    </div>
</div><!-- .col-admin-login-right -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
