@page
@model SignedOutModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Wylogowano";
}

<div class="col-admin-login-right col-md-8 col-sm-7">

    <div class="valign-table">
        <div class="valign-cell">
            <h1 class="bg-success">
                Pomyślnie wylogowano.
            </h1>
        </div>
    </div>
</div><!-- .col-admin-login-right -->