@page
@model DysFin.Pages.Administracja.JednostkiKontrolujace.DetailsModel

<div>
    <h4>Jednostka kontrolująca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JednostkaKontrolujaca.Nazwa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JednostkaKontrolujaca.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JednostkaKontrolujaca.Id"><i class="fa fa-edit"></i> Edytuj</a> |
    <a asp-page="./Index">Powrót do listy</a>
</div>
