@model DysFin.Models.KontrolaKomorki

<tr class="thingRow">
    <td>
        <select id="Kontrola_KomorkiUczestniczace_@(Model.Index)__KomorkaId" class="text-input json2" name="Kontrola.KomorkiUczestniczace[@(Model.Index)].KomorkaId"></select>
    </td>
</tr>