@model DysFin.Models.KontrolaKomorki

<li class="thingRow">
    <select id="Kontrola_KomorkiUczestniczace_@(Model.Index)__KomorkaId" class="text-input json2" name="Kontrola.KomorkiUczestniczace[@(Model.Index)].KomorkaId"></select>
</li>