<footer>
    <div class="container-fluid">
        <div class="row footer-bottom">
            <div class="col-md-6 col-md-push-6">
                @*<ul class="footer-menu-2 list-unstyled">
                        <li><a href="#">Kariera</a></li>
                        <li><a asp-area="" asp-page="/Privacy">Polityka prywatności</a></li>
                        <li><a href="#">Mapa strony</a></li>
                        <li><a href="#">Dostępność</a></li>
                        <li><a href="#">Nota prawna</a></li>
                    </ul>*@
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            <div class="col-md-6 col-md-pull-6">
                <p class="copyright">Tomasz Smyczyński, wersja @typeof(Program).Assembly.GetName().Version.ToString(3) @hostingEnv.EnvironmentName &copy; @DateTime.Now.Year Wszystkie prawa zastrzeżone.</p>
            </div>
        </div>
    </div>
</footer>